/*Colors to follow

    #C6C5B9
    #62929E
    #4A6D7C
    #393A10
    #475657
*/

.nav-bg-color, .btn-color{
    background-color: #393A10 !important;
}

.dropdown-menu-color{
    background-color: #393A10 !important;
}

.navbar-color, .nav-link{
    color: #C6C5B9 !important;
}

.nav-link:hover{
    background-color: #C6C5B9 !important;
    border-radius: 10px !important;
    color: #393A10 !important;
    font-weight: bolder;
}

.c-item {
    height: 600px;
}
  
.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

@media (max-width: 2560px){
    .c-item{
        height: 1000px;
    }
}

@media (max-width: 1440px){
    .c-item{
        height: 600px;
    }
}

@media (max-width: 768px){
    .c-item{
        height: 400px;
    }
    .display-1{
        font-size: 30px;
    }
    .display-3{
        font-size: 30px;
    }
    .display-6{
        font-size: 30px;
    }
}

@media (max-width: 425px){
    .c-item{
        height: 200px;
    }
    .display-1{
        font-size: 15px;
    }
    .display-3{
        font-size: 15px;
    }
    .display-6{
        font-size: 10px;
    }
}