/*Colors to follow

    #C6C5B9
    #62929E
    #4A6D7C
    #393A10
    #475657
*/

.gradient-diff{
    background-color: #475657;
}

.card-alt, .crd-img{
    height: 200px;
}

.crd-img{
    height: 150px;
    object-fit: cover;
}

.nav-bg-color, .btn-color{
    background-color: #393A10 !important;
}

.larg-alt-toast{
    width: 75px;
    height: 75px;
}

.dropdown-menu-color{
    background-color: #393A10 !important;
}

.dropdown-menu-color2{
    background-color: #475657 !important;
}

.navbar-color, .nav-link{
    color: #C6C5B9 !important;
}

.nav-link:hover{
    background-color: #C6C5B9 !important;
    border-radius: 10px !important;
    color: #393A10 !important;
    font-weight: bolder;
}

.c-item {
    height: 600px;
}
  
.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.toasty{
    position: relative;
    bottom: 0;
    left: 0;
    width: 300px;
}

.icon-size{
    height: 25px;
    width: 25px;
}

.w-colcol{
    width: 500px;
}

@media (max-width: 2560px){
    .c-item{
        height: 1000px;
    }
}

@media (max-width: 1440px){
    .c-item{
        height: 600px;
    }
}

@media (max-width: 1200px){
    .w-colcol{
        width: 600px;
    }
}

@media (max-width: 768px){
    .c-item{
        height: 400px;
    }
    .display-1{
        font-size: 30px;
    }
    .display-3{
        font-size: 30px;
    }
    .display-6{
        font-size: 30px;
    }
    .w-colcol{
        width: 350px;
    }
}

@media (max-width: 550px){
    .w-colcol{
        width: 290px;
    }
}

@media (max-width: 490px){
    .w-colcol{
        width: 250px;
    }
}

@media (max-width: 450px){
    .w-colcol{
        width: 225px;
    }
}

@media (max-width: 425px){
    .c-item{
        height: 200px;
    }
    .display-1{
        font-size: 15px;
    }
    .display-3{
        font-size: 15px;
    }
    .display-6{
        font-size: 10px;
    }
    .card-alt{
        height: 125px;
    }
    .crd-img{
        height: 75px;

    }
    .w-colcol{
        width: 200px;
    }
}

@media (max-width: 400px){
    .w-colcol{
        width: 175px;
    }
}

@media (max-width: 375px){
    .w-colcol{
        width: 150px;
    }
}

@media (max-width: 350px){
    .w-colcol{
        width: 130px;
    }
}

@media (max-width: 320px){
    .w-colcol{
        width: 125px;
    }
}