/*Colors to follow

    #C6C5B9
    #62929E
    #4A6D7C
    #393A10
    #475657
*/

.nav-bg-color, .dropdown-menu-color, .btn-color{
    background-color: #393A10 !important;
}

.gradient-diff{
    background-color: #475657;
}

.rounded-cir-top-bot{
    border-top-left-radius: 50% !important;
    border-top-right-radius: 50% !important;
    border-bottom-left-radius: 10% !important;
    border-bottom-right-radius: 10% !important;
}

.navbar-color, .nav-link{
    color: #C6C5B9 !important;
}

.nav-link:hover{
    background-color: #C6C5B9 !important;
    border-radius: 10px !important;
    color: #393A10 !important;
    font-weight: bolder;
}
